---
Checks: >
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -bugprone-easily-swappable-parameters

WarningsAsErrors: 'bugprone-*'
HeaderFilterRegex: '.*/(src|tests)/.*'